{% extends "layout.html" %}
{% block body %}
          <div class="inner cover">
            <h1 class="cover-heading">Be brave to follow my heart !</h1>
            <p class="lead">Maybe, an individual life journey is consisted of various forms of physical lives and those less tangible transitions between them. We move from one form to the next, with mission of aggregating our knowledge about THE Rule. To proceed forward, we have to explore, suffer and enjoy. Most importantly, we must learn to pause in order to consolidate the collected information and enlighten the path.</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Unlock</a>
            </p>
          </div>
{% endblock %}
